parameters:
	level: 7
	paths:
		- libs
	scanDirectories:
	  - libs
	  - vendor

	checkUninitializedProperties: true
	checkTooWideReturnTypesInProtectedAndPublicMethods: true

	reportUnmatchedIgnoredErrors: false


includes:
	- phpstan-baseline.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
